#ajaxSpinnerContainer {
  height:11px;
  display:none;
}
#ajaxSpinnerImage {

}
.centered {
 position: fixed;
 top: 50%;
 left: 50%;
 margin-top: -50px;
 margin-left: -100px;
}

#count {
  font-weight: bold;
}
